body {
    background-color: #FAE96F;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    border: 1px solid #555;
  }
  
 nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  /* Change the link color on hover */
  nav li a:hover {
    background-color: #C96E12;
    color: white;
  }
  .active {
    color: white;
    align-items: center;
  }
 nav li:last-child {
    border-bottom: none;
  }

  .carousel-item img {
    object-fit: contain;
    height: 300px;
    margin: auto;

  }
  
  button {
    background-color: #EC9D00;
    
  }




